@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";


@theme {
  /* custom font */
  --font-quicksand: "Quicksand", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-anton: "Anton", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-asap: "Asap", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  /* custom breakpoints */
  --breakpoint-desktop: 1200px;
  --breakpoint-xs: 540px;

}



/* MARK: Input range */

input[type="range"] {
  color: var(--color-woodsmoke-200);
  --thumb-height: 14px;
  --track-height: 2px;
  --track-color: rgba(255, 255, 255, 0.2);
  --brightness-hover: 190%;
  --brightness-down: 80%;
  --clip-edges: 0.125em;
}


/* === range commons === */
input[type="range"] {
  position: relative;
  background: #fff0;
  overflow: hidden;
}

input[type="range"]:active {
  cursor: pointer;
}

input[type="range"]:disabled {
  filter: grayscale(1);
  opacity: 0.3;
  cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: all ease 200ms;
  height: var(--thumb-height);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: 50%;

  filter: brightness(100%);
  clip-path: polygon(100% -1px,
      var(--clip-edges) -1px,
      0 var(--clip-top),
      -100vmax var(--clip-top),
      -100vmax var(--clip-bottom),
      0 var(--clip-bottom),
      var(--clip-edges) 100%,
      var(--clip-further) var(--clip-further));
}

input[type="range"]:hover::-webkit-slider-thumb {
  filter: brightness(var(--brightness-hover));

  /* cursor: grab; */
}

input[type="range"]:active::-webkit-slider-thumb {
  filter: brightness(var(--brightness-down));
  /* cursor: grabbing; */
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
  appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  background: #fff0;
}

input[type="range"]::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
  cursor: not-allowed;
}


/* MARK: Scrollbars */

html {
  --body-scrollbar-track-bg: #131313;
  --body-scrollbar-thumb-bg: #535353;
  --sb-size: 8px;
}

.scrollbar-md::-webkit-scrollbar {
  width: 7px;
}

.scrollbar-md::-webkit-scrollbar-track {
  background: var(--body-scrollbar-track-bg);
}

.scrollbar-md::-webkit-scrollbar-thumb {
  background: var(--body-scrollbar-thumb-bg);
  border-radius: 3px;
  border: 1px solid var(--body-scrollbar-track-bg);
  background-clip: content-box;
}

.scrollbar-md::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

.scrollbar-md::-webkit-scrollbar-button {
  background: var(--body-scrollbar-track-bg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 8px;

  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.scrollbar-md::-webkit-scrollbar-button:end:increment {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCA0MDQuMzA4IDQwNC4zMDkiID4KCTxwYXRoIGQ9Ik0wLDEwMS4wOGg0MDQuMzA4TDIwMi4xNTEsMzAzLjIyOUwwLDEwMS4wOHoiIGZpbGw9IiM1MzUzNTMiLz4KPC9zdmc+Cg==);
}

.scrollbar-md::-webkit-scrollbar-button:start:decrement {
  background-image: url(data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI1NSAyNTUiID4KICA8cG9seWdvbiBwb2ludHM9IjAsMTkxLjI1IDEyNy41LDYzLjc1IDI1NSwxOTEuMjUgICAiIGZpbGw9IiM1MzUzNTMiLz4KPC9zdmc+Cg==)
}


.scrollbar-xs::-webkit-scrollbar {
  width: 8px;
  /* border: 1px solid white; */
}

.scrollbar-xs::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-xs::-webkit-scrollbar-thumb {
  background: var(--body-scrollbar-thumb-bg);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-xs::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
  border: 2px solid transparent;
  background-clip: content-box;
}



.scrollbar-hide {
  -ms-overflow-style: none !important;
  /* Internet Explorer and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
  /* Chrome, Safari, and Opera */
}